doctype html
html(lang='en')
  head
    title Home
    meta(charset='utf-8')
    meta(name='format-detection', content='telephone=no')
    link(rel='icon', href='images/favicon.ico', type='image/x-icon')
    link(rel='stylesheet', href='/css/grid.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/camera.css')
    link(rel='stylesheet', href='/css/owl.carousel.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
    script(src='/js/jquery.js')
    script(src='/js/jquery-migrate-1.2.1.js')
    script(src='/js/jquery.equalheights.js')
    // [if (gt IE 9)|!(IE)] <!
    script(src='/js/jquery.mobile.customized.min.js')
    // <![endif]
    script(src='/js/camera.js')
    script(src='/js/owl.carousel.js')
    //if lt IE 9
      div(style=' clear: both; text-align:center; position: relative;')
        a(href='http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode')
          img(src='http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg', border='0', height='42', width='820', alt='You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today.')
      script(src='/js_page/html5shiv.js')
      link(rel='stylesheet', type='text/css', media='screen', href='/css/ie.css')
  body
    block header
