doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Search project')
    meta(name='author', content='Xin Zhuang')
    title Search Page
    link(rel='icon', href='images/favicon.ico', type='image/x-icon')
    link(rel='stylesheet', href='css/grid.css')
    link(rel='stylesheet', href='css/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
  body
    //
      ========================================================
      HEADER
      =========================================================
    header#header
      .brand.put-center
        h1
          a(href='index')
            img(src='images/logo_updated.jpg', alt='Cappifando', width='220', height='100')
      #stuck_container
        .container
          .row
            .grid_12
              nav.nav.put-left
                ul.sf-menu
                  li
                    a(href='searchproject') Projects
                    ul
                      li
                        a(href='#') Design
                      li
                        a(href='#') Art
                      li
                        a(href='#') Software
                      li
                        a(href='#') Hardware
                  li
                    a(href='contacts') About Us
              nav.nav.put-right
                ul.sf-menu
                  li
                    form.navbar-form.navbar-right(role='search')
                      .form-group
                        input.form-control(type='text', placeholder='Search')
                      button#headerSearchButton.btn.btn-default(type='submit')
                        a(href='searchproject')
                          span.glyphicon.glyphicon-search
                  // <li class="current"><a href="services">Services</a></li>
                  li
                    a(href='login') Log in
                  li
                    a(href='signup') Sign up
    //
      ========================================================
      CONTENT
      =========================================================
    // search
    div
      form#searchProject_search.form-inline(action='https://www.google.com/search')
        .form-group
          // Only form elements with a name attribute will have their values passed when submitting a form.
          // use name=q for google testing only
          input#searchProject_searchInput.form-control(name='q', type='text', size='80', placeholder='Search Projects')
        button.btn.btn-default(type='submit', onclick='onclick_searchProject()')
          span.glyphicon.glyphicon-search
    script.
      function onclick_searchProject() {
      var search = document.getElementById("searchProject_searchInput").value;
      window.location = '/search?q=' + search;
      }
    #searchProject_menu.navbar-default.sidebar
      span#searchProject_menu_showresultfor  Show results for
      ul#side-menu.nav
        li
          a.collapsed(data-toggle='collapse', data-target='#categoryMenu')
            | Category
            span.fa.arrow
          ul#categoryMenu.collapse
            li
              .checkbox_container
                input#checkbox_Arts(type='checkbox')
              .inlineli
                a(onclick='oncheck_Arts()') Arts
            li
              .checkbox_container
                input(type='checkbox')
              .inlineli
                a Software
            li
              .checkbox_container
                input(type='checkbox')
              .inlineli
                a Hardware
            li
              .checkbox_container
                input(type='checkbox')
              .inlineli
                a Design
            li
              .checkbox_container
                input(type='checkbox')
              .inlineli
                a Fashion
        li
          a(data-toggle='collapse', data-target='#Fund')
            | Amount of fund needed
            span.fa.arrow
          ul#Fund.collapse
            li
              .checkbox_container
                input(type='checkbox')
              .inlineli
                a#L100
            li
              .checkbox_container
                input(type='checkbox')
              .inlineli
                a $100~$500
            li
              .checkbox_container
                input(type='checkbox')
              .inlineli
                a $500~$2000
            li
              .checkbox_container
                input(type='checkbox')
              .inlineli
                a
                  | >
                  | $2000
        li
          a(data-toggle='collapse', data-target='#Progress')
            | Project progress
            span.fa.arrow
          ul#Progress.collapse
            li
              .checkbox_container
                input(type='checkbox')
              .inlineli
                a(id="haven't started") Haven't started
            li
              .checkbox_container
                input(type='checkbox')
              .inlineli
                a In progress
            li
              .checkbox_container
                input(type='checkbox')
              .inlineli
                a Completed
        br
    style.
      #searchProject_search {
      margin-left: auto;
      margin-right: auto;
      width: 60%;
      text-align: center;
      }
      #searchProject_menu {
      margin-top: 10px;
      margin-left: 20px;
      padding-top: 20px;<!
      --font-size: 20px;-->
      }
      #searchProject_menu .nav {
      text-align: left;
      }
      #searchProject_menu_showresultfor {
      margin-top: 20px;
      margin-left: 16px;
      font-size: 20px;
      }
      .checkbox_container {
      margin-left: 16px;
      display: inline-block;
      width: 16px;
      height: 16px;
      }
      .checkbox_container img {
      width: 90%;
      height: auto;
      }
      .inlineli {
      display: inline-block;
      margin-left: 2px;
      }
      .sidebar ul li {
      border-bottom: 1px solid #e7e7e7;
      }
      .sidebar ul li a.active {
      background-color: #eee;
      }
      .sidebar .arrow {
      float: right;
      }
      .sidebar .fa.arrow:before {
      content: "\f104";
      }
      .sidebar .active > a > .fa.arrow:before {
      content: "\f107";
      }
      @media (min-width: 300px) {
      .sidebar {
      z-index: 1;
      position: relative;
      width: 250px;
      margin-top: 51px;
      }
      }
    // jQuery library CDN(Content Delivery Network)
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    // Bootstrap Core JavaScript
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
    script.
      function oncheck_Arts() {
      var check = document.getElementById("checkbox_Arts").checked;
      if (check) {
      document.getElementById("checkbox_Arts").checked = false;
      } else {
      document.getElementById("checkbox_Arts").checked = true;
      }
      }
