doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title SB Admin - Bootstrap Admin Template
    // Bootstrap Core CSS
    link(href='css/bootstrap.min.css', rel='stylesheet')
    // Custom CSS
    link(href='css/sb-admin.css', rel='stylesheet')
    // Custom Fonts
    link(href='font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
  body
    #wrapper
      // Navigation
      nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='index.html') SB Admin
        // Top Menu Items
        ul.nav.navbar-right.top-nav
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              i.fa.fa-envelope
              b.caret
            ul.dropdown-menu.message-dropdown
              li.message-preview
                a(href='#')
                  .media
                    span.pull-left
                      img.media-object(src='http://placehold.it/50x50', alt='')
                    .media-body
                      h5.media-heading
                        strong John Smith
                      p.small.text-muted
                        i.fa.fa-clock-o
                        |  Yesterday at 4:32 PM
                      p Lorem ipsum dolor sit amet, consectetur...
              li.message-preview
                a(href='#')
                  .media
                    span.pull-left
                      img.media-object(src='http://placehold.it/50x50', alt='')
                    .media-body
                      h5.media-heading
                        strong John Smith
                      p.small.text-muted
                        i.fa.fa-clock-o
                        |  Yesterday at 4:32 PM
                      p Lorem ipsum dolor sit amet, consectetur...
              li.message-preview
                a(href='#')
                  .media
                    span.pull-left
                      img.media-object(src='http://placehold.it/50x50', alt='')
                    .media-body
                      h5.media-heading
                        strong John Smith
                      p.small.text-muted
                        i.fa.fa-clock-o
                        |  Yesterday at 4:32 PM
                      p Lorem ipsum dolor sit amet, consectetur...
              li.message-footer
                a(href='#') Read All New Messages
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              i.fa.fa-bell
              b.caret
            ul.dropdown-menu.alert-dropdown
              li
                a(href='#')
                  | Alert Name 
                  span.label.label-default Alert Badge
              li
                a(href='#')
                  | Alert Name 
                  span.label.label-primary Alert Badge
              li
                a(href='#')
                  | Alert Name 
                  span.label.label-success Alert Badge
              li
                a(href='#')
                  | Alert Name 
                  span.label.label-info Alert Badge
              li
                a(href='#')
                  | Alert Name 
                  span.label.label-warning Alert Badge
              li
                a(href='#')
                  | Alert Name 
                  span.label.label-danger Alert Badge
              li.divider
              li
                a(href='#') View All
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              i.fa.fa-user
              |  John Smith 
              b.caret
            ul.dropdown-menu
              li
                a(href='#')
                  i.fa.fa-fw.fa-user
                  |  Profile
              li
                a(href='#')
                  i.fa.fa-fw.fa-envelope
                  |  Inbox
              li
                a(href='#')
                  i.fa.fa-fw.fa-gear
                  |  Settings
              li.divider
              li
                a(href='#')
                  i.fa.fa-fw.fa-power-off
                  |  Log Out
        // Sidebar Menu Items - These collapse to the responsive navigation menu on small screens
        .collapse.navbar-collapse.navbar-ex1-collapse
          ul.nav.navbar-nav.side-nav
            li
              a(href='index.html')
                i.fa.fa-fw.fa-dashboard
                |  Dashboard
            li.active
              a(href='forms.html')
                i.fa.fa-fw.fa-edit
                |  Forms
            li
              a(href='blank-page.html')
                i.fa.fa-fw.fa-file
                |  Blank Page
            li
              a(href='index-rtl.html')
                i.fa.fa-fw.fa-dashboard
                |  RTL Dashboard
        // /.navbar-collapse
      #page-wrapper
        .container-fluid
          // Page Heading
          .row
            .col-lg-12
              h1.page-header
                | Forms
              ol.breadcrumb
                li
                  i.fa.fa-dashboard
                  a(href='index.html') Dashboard
                li.active
                  i.fa.fa-edit
                  |  Forms
          // /.row
          .row
            .col-lg-6
              form(role='form')
                .form-group
                  label Text Input
                  input.form-control
                  p.help-block Example block-level help text here.
                .form-group
                  label Text Input with Placeholder
                  input.form-control(placeholder='Enter text')
                .form-group
                  label Static Control
                  p.form-control-static email@example.com
                .form-group
                  label File input
                  input(type='file')
                .form-group
                  label Text area
                  textarea.form-control(rows='3')
                .form-group
                  label Checkboxes
                  .checkbox
                    label
                      input(type='checkbox', value='')
                      | Checkbox 1
                  .checkbox
                    label
                      input(type='checkbox', value='')
                      | Checkbox 2
                  .checkbox
                    label
                      input(type='checkbox', value='')
                      | Checkbox 3
                .form-group
                  label Inline Checkboxes
                  label.checkbox-inline
                    input(type='checkbox')
                    | 1
                  label.checkbox-inline
                    input(type='checkbox')
                    | 2
                  label.checkbox-inline
                    input(type='checkbox')
                    | 3
                .form-group
                  label Radio Buttons
                  .radio
                    label
                      input#optionsRadios1(type='radio', name='optionsRadios', value='option1', checked='')
                      | Radio 1
                  .radio
                    label
                      input#optionsRadios2(type='radio', name='optionsRadios', value='option2')
                      | Radio 2
                  .radio
                    label
                      input#optionsRadios3(type='radio', name='optionsRadios', value='option3')
                      | Radio 3
                .form-group
                  label Inline Radio Buttons
                  label.radio-inline
                    input#optionsRadiosInline1(type='radio', name='optionsRadiosInline', value='option1', checked='')
                    | 1
                  label.radio-inline
                    input#optionsRadiosInline2(type='radio', name='optionsRadiosInline', value='option2')
                    | 2
                  label.radio-inline
                    input#optionsRadiosInline3(type='radio', name='optionsRadiosInline', value='option3')
                    | 3
                .form-group
                  label Selects
                  select.form-control
                    option 1
                    option 2
                    option 3
                    option 4
                    option 5
                .form-group
                  label Multiple Selects
                  select.form-control(multiple='')
                    option 1
                    option 2
                    option 3
                    option 4
                    option 5
                button.btn.btn-default(type='submit') Submit Button
                button.btn.btn-default(type='reset') Reset Button
            .col-lg-6
              h1 Disabled Form States
              form(role='form')
                fieldset(disabled='')
                  .form-group
                    label(for='disabledSelect') Disabled input
                    input#disabledInput.form-control(type='text', placeholder='Disabled input', disabled='')
                  .form-group
                    label(for='disabledSelect') Disabled select menu
                    select#disabledSelect.form-control
                      option Disabled select
                  .checkbox
                    label
                      input(type='checkbox')
                      | Disabled Checkbox
                  button.btn.btn-primary(type='submit') Disabled Button
              h1 Form Validation
              form(role='form')
                .form-group.has-success
                  label.control-label(for='inputSuccess') Input with success
                  input#inputSuccess.form-control(type='text')
                .form-group.has-warning
                  label.control-label(for='inputWarning') Input with warning
                  input#inputWarning.form-control(type='text')
                .form-group.has-error
                  label.control-label(for='inputError') Input with error
                  input#inputError.form-control(type='text')
              h1 Input Groups
              form(role='form')
                .form-group.input-group
                  span.input-group-addon @
                  input.form-control(type='text', placeholder='Username')
                .form-group.input-group
                  input.form-control(type='text')
                  span.input-group-addon .00
                .form-group.input-group
                  span.input-group-addon
                    i.fa.fa-eur
                  input.form-control(type='text', placeholder='Font Awesome Icon')
                .form-group.input-group
                  span.input-group-addon $
                  input.form-control(type='text')
                  span.input-group-addon .00
                .form-group.input-group
                  input.form-control(type='text')
                  span.input-group-btn
                    button.btn.btn-default(type='button')
                      i.fa.fa-search
              p
                | For complete documentation, please visit 
                a(href='http://getbootstrap.com/css/#forms') Bootstrap's Form Documentation
                | .
          // /.row
        // /.container-fluid
      // /#page-wrapper
    // /#wrapper
    // jQuery
    script(src='js/jquery.js')
    // Bootstrap Core JavaScript
    script(src='js/bootstrap.min.js')
